{{- /* Custom minimal footer */ -}}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="footer-content">
          
          {{- /* Community logo */ -}}
          <div class="community-logo">
            <img src="{{ "img/MadeByTheCommunity_Black_small.png" | relURL }}" alt="Made by the Community" />
          </div>
          
          {{- /* Main footer text */ -}}
          <p class="footer-title">
            Star Citizen Handbook © 2025
          </p>
          
          {{- /* Legal notice */ -}}
          <p class="legal-notice">
            Star Citizen®, Roberts Space Industries® and Cloud Imperium® are registered trademarks of Cloud Imperium Rights LLC
          </p>
          
        </div>
      </div>
    </div>
  </div>
</footer>
